body {
  font-family: 'Open Sans', sans-serif;
  color: #93898e;
  font-size: 14px;
}
p,
h1,
h2,
h3,
h4 {
  line-height: 1.4em;
}
h1,
h2,
h3,
h4 {
  color: #7c7272;
  font-weight: bold;
}
h1 {
  font-size: 1.4em;
}
h2 {
  font-size: 1.2em;
}
h3,
h4 {
  font-size: 1.1em;
}