header {
  margin: 0 5%;
}

main section {
  margin: 0 5%;
}

header, main p {
  margin-bottom: 20px;
}

header h1, header h2, header h2 span {
  display: inline-block;
  margin-right: 10px;
}

header h1 {
  color: #A4BD0A;
  text-transform: uppercase;
  font-size: 2em;
}

main {
  padding-bottom: 20px;
}

main h2 {
  color: #A4BD0A;
  text-transform: uppercase;
}

main h2:before {
  content: '✦';
  color: #ef3a24;
  font-weight: bold;
  margin-right: 5px;
}

main section .content {
  margin: 10px 6px 0;
  border-left: 2px dashed #93898e;
  padding: 0 20px;
}

main section .content ul {
  display: inline-block;
  vertical-align: top;
}

main section .content ul + ul {
  margin-left: 30px;
}

@media screen and (max-width: 40.5em) {
  main section .content ul {
    display: block;
  }
  main section .content ul + ul {
    margin-left: 0;
    margin-top: 20px;
  }
}
